<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hotel Management</title>
</head>
<body>
    <form action="http://localhost:5000/saveform/" method="post">

    <label>Hotel Id </label>
    <input type="text" name="hote_id"><br><br>

    <label>Hotel Name</label>
    <input type="text" name="hotel_name"><br><br>

    <label>Hotel Type</label><br><br>
    <input type="radio" name="hotel_type" value="Veg">Veg<br><br>
    <input type="radio" name="hotel_type" value="Non-Veg">Non-Veg<br><br>
    <input type="submit"><br><br>

    </form>

        <table>
            <thead>ID</thead>
            <thead>Name</thead>
            <thead>Type</thead>

        </table>

</body>
</html>